/* GOT Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#071520;
}


/* Default Link Color */

a, .la-ball-triangle-path {
    color:#F6A316;
}

a:hover, #header.nav-solid nav a:hover {
    color:#2AB8CD;
}

/* Default Icon Color = section 2 */

.icon i {
    color:#F6A316;
}

/* Border Color _ Cadres _ sections 6_Témoignages et 7_GOT Connexion */

#banner .section-heading:before {
    background: #0D2D45;
}

.testimonial.classic footer:before {
    background: #F6A316;
}

.pricing-block-content:hover {
    border-color:#2AB8CD;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Header sur page d'accueil */
/*------------------------------------------------------------------------------------------*/


/* Transparent Header Color on a Banner */

nav a {
    color:#F6A316;
}

/* Header Active State */

.nav-list a.active {
    color: #2AB8CD; /* Couleur bleue pour le lien ciblé */
}

/* Header Colors when the Navigation is sticky and solid */ 

#nav-mobile ul li a {
    color:#F6A316;
}


/* #header.nav-solid .active {
    color: #2AB8CD;
    border-color: #2AB8CD;
}     */



/*------------------------------------------------------------------------------------------*/
/* 3. Section 7_GOT Connexion_Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Section 7_GOT Connexion Primary Background and Text Colors */

.primary-color, .featured .pricing {
    background: linear-gradient(to bottom, #071520, #0D2D45);
}

/* Section 7_GOT Connexion Couleur texte tarif */
.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .pricing, .featured .pricing p {
    color:#fcfbfb;    
}
/* Tirets dans toutes les sections */
.section-heading h2:after {
    background:#2AB8CD;
    content:"";
    display:block;
    width:50px;
    height:2px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Section 2_Association Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#F6A316;
}


/* Section 7_GOT Connexion Background Cadre and Text Colors */

.secondary-color {
    background: linear-gradient(to bottom, #071520, #0D2D45);
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors = section 1 */

.hero-section, #about {
    background: url("../images/banner-images/Body_MeshGradient-CC-N°1.webp") no-repeat right bottom;
    background-size:50%;
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Cabin', 'Open Sans', Arial;
    font-size:18px;
    font-weight:regular;
    color:#fdfdfd;
}

/* Logo, if you are using Fonts as Logo and not image

#logo h1 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

#logo h2 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

*/


/* Section 1 = Banner Typography = Titre Innovons */

#banner h1 {
    font-family:'Cabin', 'Open Sans', Arial;
    font: size 60px;
    line-height:50px;
    font-weight:600;
    color:#ffffff;
}

/* Texte sous titre */
#banner h2 {
    font-family: 'Cabin', 'Open Sans', Arial;
    font-size:27px;
    font-weight:300;
    color:#F6A316;
}


/* Section 2 = La GOT Âme Title  */

.section-title {
    font-family: 'Cabin','Open Sans', Arial;
    font-size: 60px; 
    font-weight: 600;
    color:#ffffff;
}

.section-subtitle {
    font-family: 'Cabin','Open Sans', Arial;
    font-size: 27px;
    font-weight:300;
    line-height:30px;
    color:#F6A316;
}

/* Section 5 =Testimonial */

.testimonial q {
    font-family: 'Cabin', 'Open Sans', sans-serif, Arial;
    font-size: 20px; 
    font-weight:300;
    color:#ffffff;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#ffffff;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Cabin', 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 60px; 
    font-weight:600;
    color:#ffffff;
}

h2 {
    font-family:'Cabin', 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:300;
    color:#F6A316;
}

h3 {
    font-family: 'Cabin','Open Sans', sans-serif, Arial, Helvetica;
    font-size: 27px; 
    font-weight:300;
    color:#F6A316;
}

/* Titres section2 icones et packages */
h4 {
    font-family: 'Cabin','Open Sans', sans-serif, Arial, Helvetica;
    font-size: 20px; 
    font-weight:200;
    color:#F6A316;
}

h5 {
    font-family: 'Cabin','Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight:300;
    color:#b50d0d;
}

h6 {
    font-family: 'Cabin','Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight:200;
    color:#cc1bc9;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Watch video section Se dépasser 4 et Connexion 7  Button Text */

.button, input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:24px;
    font-weight:500;
    color:#F6A316;
}


/* Section Innovons 1  et Watch video section Se dépasser 4 Button contour Color */

.button, input[type="submit"] {
    border-color:#F6A316;
    color :#F6A316
}


/* Button Hover Color */

.button:hover,  input[type="submit"]:hover {
    border-color:#2AB8CD;
    color:#2AB8CD;
}


/* ----------Banner Buttons---------- */


/* Section Innovons 1 Button Text */

#banner .button {
    font-family: 'Cabin','Open Sans', sans-serif, Arial, Helvetica;
    font-size:24px;
    color:#F6A316;
}


/* Button Color */

#banner .button {
    border-color:#2AB8CD;
}


/* Button Hover Color */

#banner .button:hover {
    color:#2AB8CD;
    border-color:#2AB8CD;
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer _  Design@GOT */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:14px;
    font-weight:normal;
    color:#2AB8CD;
}

/* Footer Icon Color */

#landing-footer i {
    color:#2AB8CD;
}