/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/


body {
    background:#071520;
}


/* Default Link Color */

a {
    color:#F6A316;
}

a:hover, .nav-list a:hover {
    color:#2AB8CD;
}

/* Border Color _ sous témoignages _ section right package */

#banner .section-heading:before, .testimonial.classic footer:before {
    background: #0D2D45;
}

.pricing-block-content:hover {
    border-color:#2AB8CD;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Header */
/*------------------------------------------------------------------------------------------*/


/* Transparent Header Color on a Banner */

#header nav a, #header i {
    color:#F6A316;
}


/* Header Colors when the Navigation is sticky and solid */ 

#nav-mobile ul li a {
    color:#F6A316;
}


/* Header Active State */

#header.nav-solid .active {
    color: #2AB8CD;
    border-color: #2AB8CD;
}    



/*------------------------------------------------------------------------------------------*/
/* 3. Section Right Package_Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Section Right Package Primary Background and Text Colors */

.primary-color, .featured .pricing {
    background-color:#0D2D45;
}

/* Section Right Package Couleur texte tarif */
.primary-color, .primary-color .section-title, .primary-color .section-subtitle, .featured .pricing, .featured .pricing p {
    color:#fcfbfb;    
}

/* Section Right package Secondary Background and Text Colors */

.secondary-color {
    background-color:#0D2D45;
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    background: url("../images/banner-images/Body_MeshGradient-CC-N°1_small.webp") no-repeat right center;
    background: size cover;
}


/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Cabin', 'Open Sans', Arial;
    font-size:18px;
    font-weight:regular;
    color:#fdfdfd;
}

/* Section 1 = Banner Typography = Titre Innovons */

#banner h1 {
    font: size 60px;
    line-height:50px;
    font-weight:600px;
    color:#ffffff;
}

/* Texte sous titre */
#banner h2 {
    font-size:27px;
    font-weight:300;
    color:#F6A316;
}


/* Section 2 Title  */

.section-title {
    font-size: 60px; 
    font-weight: 600px;
    color:#ffffff;
}

.section-subtitle {
    font-size: 27px;
    font-weight:300;
    line-height:30px;
    color:#F6A316;
}

/* Testimonial */

.testimonial q {
    font-size: 17px; 
    font-weight:300;
    color:#ffffff;
}

.testimonial.classic q, .testimonial.classic footer {
    color:#ffffff;
}


/* Standard Headings h1-h6 */

h1 {
    font-size: 60px; 
    font-weight:300;
    color:#ffffff;
}

h2 {
    font-size: 34px; 
    font-weight:300;
    color:#F6A316;
}

h3 {
    font-size: 27px; 
    font-weight:700;
    color:#F6A316;
}

/* Titres section2 icones et packages */
h4 {
    font-size: 18px; 
    font-weight:400;
    color:#F6A316;
}

h5 {
    font-size: 16px; 
    font-weight:400;
    color:#b50d0d;
}

h6 {
    font-size: 14px; 
    font-weight:400;
    color:#cc1bc9;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Watch video section 4 et Pricing 5  Button Text */

.button, input[type="submit"]  {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:14px;
    font-weight:bold;
    color:#F6A316;
}


/* Section 1 et Watch video section 4 Button contour Color */

.button, input[type="submit"] {
    border-color:#2AB8CD;
    color :#F6A316
}


/* Button Hover Color */

.button:hover,  input[type="submit"]:hover {
    border-color:#2AB8CD;
    color:#2AB8CD;
}

/*------------------------------------------------------------------------------------------*/
/* 7. Footer _  made with love */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-size:12px;
    font-weight:normal;
    color:#2AB8CD;
}

/* Footer Icon Color */

#landing-footer i {
    color:#2AB8CD;
}