/* Namari Landing Page v.1.1.0 Style Index - a free landing page by shapingrain.com

1. Default and Reset styles
- 1.1 Input Elements
2. Global elements
- 2.1 Header
- 2.2 Logo
- 2.3 Buttons
- 2.4 Navigation
- 2.5 Social Elements
- 2.6 Images
3. Fonts and Headings
4. Banner
- 4.1 SignUp Form
5. Content Elements
- 5.1 Icons
- 5.2 Parallax Elements
- 5.3 Divider
6. Landing Page Sections
- 6.1 Features
- 6.2 Testimonials
- 6.3 Gallery = Les projets
- 6.4 Video
- 6.5 Clients = Partenaires
- 6.6 Pricing Table = Connexion
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Defaults & Reset of specific styles across browsers */
/*------------------------------------------------------------------------------------------*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  line-height: inherit;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* --------- 1.1 Input Elements ---------- */

input,
textarea {
  border: 1px solid #071520;
  padding: 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 3px;
}

input {
  /* height: 40px;
  margin: 3px 0; */
  outline: none;
  line-height: normal;
  /* font-size: 18 px; */
}

input[type="submit"] {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  padding-top: 0;
  padding-bottom: 0;
}

select {
  border: 1px solid #e1e1e1;
  height: 40px;
  padding: 5px;
}

input:focus,
textarea:focus {
  box-shadow: inset 0 1px 3px rgba(161, 220, 243, 0.1);
}

*:focus {
  outline: none;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/

section {
  clear: both;
  overflow: hidden;
}

#content {
  padding-top: 135px;
}

/* Targets all elements */

[class*="col-"] {
  float: left;
  padding: 6px;
}

#partenaires .col-2-3 [class*="col-"] {
  padding: 0;
}

/* section 2 : l'association paragraphes */
.col-2 {
  width: 30%;
}

/* Section 2 : l'association + texte orange */

.col-3 {
  width: 80%;
}

/* --------- 2.2 Logo ---------- */

#logo {
  float: left;
  height: 90px;
  line-height: 66px;
}

/* --Banner c'est la header--- */
#banner {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #071520;
  padding: 16px;
  width: 100%;
}

#logo img {
  max-height: 80px;
  vertical-align: middle;
  margin-left: 70px;
}

/* ----navigation = header---- */

nav#nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav#nav-mobile .expanded {
  display: flex;
}

.nav-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 140px;
}

.link-node-navbar {
  height: 1px;
  background-color: #00aced;
  width: 124px;
  position: absolute;
  margin-right: 16px;
  top: 8px;
  transform: translateX(-50%);
}

.nav-list li:first-child .link-node-navbar {
  display: none; /* Cache le trait avant le premier lien */
}

/* --------- 2.3 Buttons ---------- */
/*Style*/

.button {
  font-size: 30px;
  margin: 5px 0;
  padding: 11px 20px;
  border-radius: 40px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  border-width: 2px;
  border-style: outset;
}

/* Responsive Nav Styling */
#nav-trigger {
  display: none;
}

#nav-trigger span {
  display: inline-block;
  width: 38px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#nav-trigger span img {
  width: 35px;
  height: 28px;
}

#nav-trigger span:hover {
  opacity: 1;
}

nav#nav-mobile {
  position: relative;
  display: none;
}

nav#nav-mobile ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  right: 0;
  padding-top: 16px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #071520;
}

nav#nav-mobile ul li svg {
  display: none;
}

nav#nav-mobile ul li .link-node-navbar {
  display: none;
}

nav#nav-mobile ul:after {
  display: none;
}

nav#nav-mobile li {
  margin: 0 20px;
  float: none;
  text-align: left;
}

nav#nav-mobile li:last-child {
  border-bottom: none;
}

nav#nav-mobile a:hover {
  color: #2ab8cd;
}

/* --------- 2.5 Social Elements Footer ---------- */

.social-icons {
  display: inline-block;
  list-style: none;
}

.social-icons a {
  display: inline-block;
  width: 32px;
  text-align: center;
}

.social-icons a:hover {
  opacity: 0.7;
}

.social-icons span {
  display: none;
}

/* --------- 2.6 Images ---------- */

/*Alignment*/

img {
  vertical-align: center;
}

.image-center {
  display: block;
  margin: 0 auto;
}

a img {
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a img:hover {
  opacity: 0.7;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Fonts */
/*------------------------------------------------------------------------------------------*/

h1 {
  padding: 20px 0;
}

h2 {
  padding: 14px 0;
}

h3 {
  padding: 10px 0;
}

h4 {
  padding: 7px 0;
}

h5 {
  padding: 7px 0;
}

h6 {
  padding: 7px 0;
}

/*------------------------------------------------------------------------------------------*/
/* HeroSection
/*------------------------------------------------------------------------------------------*/

.section-heading {
  display: flex;
  line-height: 1.2;
  gap: 16px;
  width: 75%;
  margin-bottom: 16px;
  margin-left: 28px;
}

.section-heading img {
  width: 190px;
  height: 210px;
}

.title-hero {
  margin-top: 19px;
  margin-left: 22px;
}

#hero-section {
  margin-top: 100px;
}

#hero-section .title-hero h1 {
  padding: 0;
}

.section-title {
  padding-top: 0;
  padding-bottom: 0;
}

.section-subtitle {
  font-size: 24px;
  margin: 0 0 30px 0;
}

.section-heading-white {
  color: #fafafa;
}

.container {
  width: 100%;
  margin: 75px 0 70px 110px;
}

.styled-list {
  list-style: none;
  padding: 0;
}

.styled-list li {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
  font-size: 1.2em;
  /* line-height: 0.3; */
}

.icon {
  color: #fafafa;
  margin-right: 8px;
}

.size-icon {
  width: 35px;
  height: 35px;
}

.highlighted {
  color: #f6a316;
}

.highlight-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-bottom: 5px;
}

.circle-list-about {
  margin-bottom: 0;
}

.link-node {
  width: 2px;
  height: 25px;
  background-color: #fafafa;
  position: relative;
  margin-left: 7px;
  margin-top: 5px;
}

.link-node::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 42px;
  background-color: #fafafa;
}

.icon + .link-node::before {
  display: none;
}

#CTA-hero-section {
  margin-left: 40%;
}

/*------------------------------------------------------------------------------------------*/
/* 5. Content Elements */
/*------------------------------------------------------------------------------------------*/

/* --------- 5.1 Icons ---------- */

/*Font Icon sizes*/

.fa-1x {
  font-size: 18px !important;
}

/*Icon Block*/

.icon-block {
  position: relative;
}

.icon-block h4 {
  font-weight: bold;
  padding-top: 0;
}

.icon-block .icon {
  position: absolute;
}

.icon-block p {
  margin-top: 0;
}

/* Icon Above */

.icon-top {
  display: block;
}

.icon-top .icon {
  position: relative;
  display: block;
}

.icon-top .icon-block-description {
  padding-top: 12px;
}

/* --------- 5.2 Parallax Elements ---------- */

/* .banner-parallax-1,
.banner-parallax-2,
.banner-parallax-3 {
  min-height: 350px;
} */

/*------------------------------------------------------------------------------------------*/
/* 6. Landing Page Sections */
/*------------------------------------------------------------------------------------------*/

/* --------- 6.1 Introduction ---------- */

.introduction {
  display: flex;
  flex-direction: column;
  margin-top: 122px;
  margin-left: 28px;
}

.mtop {
  margin-top: 136px;
}

.mtop-testimonials {
  margin-top: 230px;
  padding-bottom: 56px;
}

.introduction .size-logo-about {
  width: 40px;
}

.img-GOT {
  height: 50px;
}

.tag {
  display: flex;
  gap: 8px;
  border: 2px solid #0d2d45;
  border-style: outset;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 16px 24px;
  width: 280px;
  height: 99px;
  background: linear-gradient(to left, #071520, #0d2d45);
}

.tag-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 32px;
  margin-left: -95px;
}

.tag-about .tag {
  display: flex;
  flex-direction: row;
}

.tag .text-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.text-tag span {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.text-tag p {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.CTA-about {
  margin-top: 35px;
  text-align: center;
  margin-left: -80px;
}

.introduction img.featured {
  padding: 15px 0 0 0;
  background-image: linear-gradient(to bottom, #071520, #0d2d45),
    url("banner-images\Body_MeshGradient-CC-N°1.webp");
}

/*------------------------------------------------------------------------------------------*/
/* Section Témoignages
/*------------------------------------------------------------------------------------------*/

#testimonials .cards-testimonials {
  display: flex;
  position: relative;
  gap: 16px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  height: 572px;
  padding-left: 4px;
}

#testimonials .cards-testimonials blockquote {
  padding: 30px 30px 10px 30px;
}
.testimonial {
  padding: 15px;
}

.testimonial img {
  max-height: 80px;
  /* border-radius: 250em; */
}

/* Style Classic - Avatar above Testimonial */
.testimonial header {
  display: flex;
  align-items: center;
}

.testimonial .stars {
  margin-left: auto;
}

.testimonial .guillemets {
  width: 66px;
}

.testimonial h2 {
  font-weight: 600;
  font-size: 26px;
  padding-bottom: 8px;
  width: 50%;
}

#title-testi {
  text-indent: -3px;
}

.testimonial header img {
  width: 20px;
}

.testimonial.classic {
  flex-direction: column;
  gap: 8px;
  border: 2px solid #0d2d45;
  border-style: outset;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  background: linear-gradient(to bottom, #071520, #0d2d45);
  width: 294px;
}

.testimonial.classic .person-footer {
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 16px;
  border-radius: 250em;
}

.testimonial.classic q {
  display: block;
}

.testimonial footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.testimonial footer .name p {
  margin: 0;
}

.testimonial footer .nickname {
  font-weight: 700;
}

#CTA-testimonials {
  margin: 55px auto 35px auto;
}

/* Style Big */

.testimonial.bigtest {
  padding-top: 0;
}

.testimonial.bigtest q {
  font-size: 22px;
}

/* --------- 6.4 Gallery ---------- */

#gallery {
  display: flex;
  position: relative;
  margin: 24px 0;
}

#gallery .card-gallery {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 0 36px;
}

.card-gallery ul {
  list-style: none;
  width: 80%;
}

.arrow-right {
  position: absolute;
  top: 30%;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.arrow-left {
  position: absolute;
  top: 30%;
  left: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.arrow-right:hover,
.arrow-left:hover {
  transform: scale(130%);
}

.card-gallery ul li {
  padding-bottom: 4px;
}

.icon-gallery {
  margin-right: 4px;
  text-shadow: 0 0 1px #2ab8cd, 0 0 3px #2ab8cd, 0 0 5px #2ab8cd,
    0 0 10px rgba(42, 184, 205, 0.7);
}

#gallery .link-card-gallery {
  font-size: 21px;
  color: #2ab8cd;
}

#link-github {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

#link-github a:hover {
  text-shadow: 0 0 1px #2ab8cd, 0 0 3px #2ab8cd, 0 0 5px #2ab8cd,
    0 0 10px rgba(42, 184, 205, 0.7);
}

.icon-terminal {
  width: 15px;
  padding-right: 4px;
}

#gallery .card-gallery img {
  max-height: 200px;
  margin: 0 auto;
}

#gallery [class*="col-"] {
  padding: 0;
}

#gallery a {
  display: flex;
  position: relative;
  overflow: hidden;
}

#gallery a:hover img {
  opacity: 0.15;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

#gallery a:before {
  font-size: 2.2em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  content: "+";
  width: 70px;
  height: 70px;
  border-radius: 100em;
  display: block;
  position: absolute;
  top: 75%;
  left: 50%;
  line-height: 72px;
  margin: -35px 0 0 -35px;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* vertical-align: middle; */
}

#gallery a:hover:before {
  opacity: 1;
  top: 50%;
  left: 50%;
}

#link-github a:before {
  content: none;
}

.CTA-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

/*------------------------------------------------------------------------------------------*/
/* Section Se dépasser
/*------------------------------------------------------------------------------------------*/
.sedepasser {
  display: flex;
  /* margin: 24px 0; */
}

.sedepasser-title {
  padding-top: 0;
  font-weight: 500;
}

.sedepasser-img {
  width: 350px;
  height: 410px;
}

.sedepasser-text {
  margin-left: 16px;
}

.sedepasser-img img {
  width: 100%;
  height: 100%;
}

.sedepasser-list {
  list-style: none;
  margin: 8px 0 32px 0;
}

.icon-terminal-sedepasser {
  width: 20px;
}

.decale {
  padding-left: 28px;
}

.sedepasser-list li {
  display: flex;
  gap: 7px;
  font-size: 21px;
  margin: 8px 0;
}

.subtitle-sedepasser {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #f6a316;
}

.CTA-sedepasser {
  margin-top: 45px;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.3 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight {
    display: none;

    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647; /* z-index needs to be >= elements on the site. */

    /* position: centering content */
    text-align: center;

    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;

    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: rgba(0, 0, 0, 0);
  }

  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }

  .featherlight:before {
    /* position: trick to center content vertically */
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  .featherlight .featherlight-content {
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;

    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 0;
    border-bottom: 25px solid transparent;

    /* dimensions: handling small or empty content */
    min-width: 30%;

    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;

    /* styling */
    cursor: auto;

    /* reset white-space wrapping */
    white-space: normal;
  }

  /* contains the content */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
  }

  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 25px;
    right: 25px;

    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;

    /* styling */
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-family: "fontawesome";
    font-size: 22px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .featherlight .featherlight-close-icon:hover {
    opacity: 1;
  }

  .featherlight .featherlight-image {
    /* styling */
    max-height: 100%;
    max-width: 100%;
  }

  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
  }

  .featherlight iframe {
    /* styling */
    border: none;
  }
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;

    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}

/* Gallery Styling */
@media all {
  .featherlight-next,
  .featherlight-previous {
    font-family: "Cabin";
    font-size: 22px;
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 80%;
    cursor: pointer;
    /* preventing text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* IE9 hack, otherwise navigation doesn't appear */
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .featherlight-previous {
    left: 0;
    right: 80%;
  }

  .featherlight-next span,
  .featherlight-previous span {
    display: inline-block;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 80px;
    line-height: 80px;

    /* center vertically */
    margin-top: -40px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .featherlight-next span {
    text-align: right;
    left: auto;
    right: 7%;
  }

  .featherlight-previous span {
    text-align: left;
    left: 7%;
  }

  .featherlight-next:hover span,
  .featherlight-previous:hover span {
    display: inline-block;
    opacity: 1;
  }

  /* Hide navigation while loading */
  .featherlight-loading .featherlight-previous,
  .featherlight-loading .featherlight-next {
    display: none;
  }
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px) {
  .featherlight-next:hover,
  .featherlight-previous:hover {
    background: none;
  }

  .featherlight-next span,
  .featherlight-previous span {
    display: block;
  }
}

/* handling phones and small screens */
@media only screen and (max-width: 780px) {
  .featherlight-next,
  .featherlight-previous {
    top: 10px;
    right: 10px;
    left: 85%;
  }

  .featherlight-previous {
    left: 10px;
    right: 85%;
  }

  .featherlight-next span,
  .featherlight-previous span {
    margin-top: -30px;
    font-size: 40px;
  }
}

#landing-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#landing-footer .link-partenaires,
#landing-footer-about .link-partenaires,
#landing-footer-connexion .link-partenaires,
#landing-footer-register .link-partenaires {
  display: flex;
  margin: 16px 0;
}

#landing-footer .link-partenaires a,
#landing-footer-about .link-partenaires a,
#landing-footer-connexion .link-partenaires a,
#landing-footer-register .link-partenaires a {
  margin-right: 10px;
  align-content: center;
}

#landing-footer .link-partenaires img,
#landing-footer-about .link-partenaires img,
#landing-footer-connexion .link-partenaires img,
#landing-footer-register .link-partenaires img {
  height: 31px;
}

#landing-footer .link-footer-propos,
#landing-footer-about .link-footer-propos,
#landing-footer-connexion .link-footer-propos,
#landing-footer-register .link-footer-propos {
  margin-left: auto;
  margin-right: 100px;
}

#landing-footer .link-terry,
#landing-footer-about .link-terry,
#landing-footer-connexion .link-terry,
#landing-footer-register .link-terry {
  padding-right: 24px;
  border-right: 2px solid #f6a316;
}

#landing-footer .link-about,
#landing-footer-about .link-about,
#landing-footer-connexion .link-about,
#landing-footer-register .link-about {
  padding-left: 24px;
}

#landing-footer .link-footer-propos a:hover,
#landing-footer-about .link-footer-propos a:hover,
#landing-footer-connexion .link-footer-propos a:hover,
#landing-footer-register .link-footer-propos a:hover {
  color: #f6a316;
}

#content-about {
  display: flex;
  flex-direction: column;
  height: 818px;
  padding: 100px 100px 0 87px;
  margin-top: 75px;
  background: url("../images/banner-images/GOTHtml_APropos_PlumeCC.webp")
    no-repeat left bottom;
  background-size: 47%;
}

#content-about h1 {
  padding-bottom: 40px;
}

#content-about h2 {
  color: #e1e1e1;
  font-weight: 600;
}

#content-about li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 25px;
}

#content-about li a {
  color: #f6a316;
}

#content-about .link-white {
  color: #e1e1e1;
}

#content-about .styled-list-about {
  margin-left: 54px;
}

#content-about .link-socials {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: 360px;
  margin-top: 21px;
}

#content-about .link-socials a img {
  width: 30px;
  height: 30px;
}

main .design-about {
  color: #f6a316;
  text-align: end;
  margin: 0;
  margin-top: auto;
  padding-bottom: 16px;
}

/* --------- 6.7 Pricing Table / Connexion ---------- */

.pricing-block-content {
  background: linear-gradient(to bottom, #071520, #0d2d45);
  padding: 25px 0 25px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  border: 10px solid #fff;
}

.pricing-block ul {
  list-style: none;
  margin: 25px 0 25px 0;
}

.pricing-block li {
  padding: 14px 0;
  border-bottom: 1px dotted #e1e1e1;
}

.pricing-block li:last-of-type {
  border: none;
}

.pricing-block h3 {
  font-size: 17px;
  text-transform: uppercase;
  padding-bottom: 0;
}

.pricing-sub {
  font-style: normal;
  color: #ccc;
  margin: 0 0 25px 0;
}

/*Price*/

.pricing {
  background: #2ab8cd;
  padding: 25px;
  position: relative;
}

.price {
  display: inline-block;
  font-size: 62px;
  font-weight: 700;
  position: relative;
}

.price span {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 22px;
}

.pricing p {
  font-style: italic;
  color: #b4b4b4;
  line-height: auto;
  margin: 0;
}

/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer,
#landing-footer-about,
#landing-footer-connexion,
#landing-footer-register {
  display: flex;
  align-items: center;
  clear: both;
  padding: 0 28px 0 28px;
}

.title-footer {
  font-size: 18px;
  font-weight: 500;
  color: #2ab8cd;
  margin-right: 20px;
}

/* Scroll Up */

#scrollUp {
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 80px;
  margin-bottom: -10px;
  padding: 0 5px 20px 5px;
  text-align: center;
  text-decoration: none;
  color: #071520;
  -webkit-transition: margin-bottom 150ms linear;
  -moz-transition: margin-bottom 150ms linear;
  -o-transition: margin-bottom 150ms linear;
  transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
  margin-bottom: 0;
}

#scrollUp:before {
  background: #2ab8cd;
  font-family: "fontawesome";
  font-size: 2.4em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #fff;
  width: 45px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  content: "\f106";
  opacity: 1;
}

.section-title {
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  margin: 15px 0 8px 0;
}

.section-subtitle {
  font-size: 27px;
  font-weight: 300;
  line-height: 35px;
  color: #f6a316;
}

.logo-hidden {
  display: none;
}

#partners {
  display: none;
}

/*------------------------------------------------------------------------------------------*/
/* Responsive Elements */
/*------------------------------------------------------------------------------------------*/

/* =Media Queries
===============================*/

@media all and (max-width: 768px) {
  #banner {
    width: 100%;
  }

  #scrollUp {
    right: 5px;
  }

  #nav-trigger {
    display: block;
  }

  #logo {
    display: none;
  }

  nav#nav-mobile ul {
    display: none;
    position: relative;
  }

  #nav-trigger .open {
    display: flex;
  }

  nav#nav-main {
    display: none;
  }

  nav#nav-mobile {
    display: block;
  }

  nav#nav-mobile li {
    display: block;
  }

  #content {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  /* Hero-Section */

  #hero-section {
    margin-top: 0;
  }

  #hero-section .title-hero h1 {
    font-size: 35px;
    font-weight: 600;
  }

  #hero-section {
    /* background: url("../images/banner-images/MissTerry_Mobile_2.webp") no-repeat
        right bottom,
      url("../images/banner-images/Body_MeshGradient-CC-N°1.webp") no-repeat
        right bottom; */
    background-size: 78%;
  }

  .title-hero {
    margin-left: 0;
  }

  .section-heading {
    width: 100%;
    flex-direction: column;
    margin-left: 16px;
  }

  .section-heading img {
    margin: 0 auto 0 auto;
  }

  .container {
    width: 90%;
    margin: 0 0 70px 16px;
  }

  .container ul li {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
  }

  #CTA-hero-section {
    margin-left: 0;
    font-size: 17px;
  }

  .button-discord {
    display: flex;
    justify-content: center;
  }

  .circle-list-about-2 {
    display: none;
  }

  .circle-list-about-3 {
    display: none;
  }

  .link-node {
    display: none;
  }

  .introduction {
    margin-left: 16px;
  }

  #about .col-3 {
    width: 96%;
  }

  #about {
    background: url("../images/banner-images/meshgradient-CC.webp") no-repeat
      right center;
    background-size: 100%;
  }

  .section-title {
    font-size: 35px;
    font-weight: 600;
    padding-top: 0;
    margin-top: 0;
  }

  .img-GOT {
    width: 90%;
  }

  .section-subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .tag-about {
    flex-direction: column;
    margin-right: 16px;
    margin-left: 0;
    gap: 0;
  }

  .tag {
    background: none;
    border: none;
  }

  .text-tag span {
    font-size: 20px;
  }

  .text-tag p {
    font-size: 15px;
  }

  .CTA-about {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .CTA-about a {
    font-size: 17px;
  }

  #projects {
    background: url(../images/banner-images/Body_3_MGrdt-CC_html.webp) no-repeat
      left center;
    background-size: 100%;
  }

  #gallery .card-gallery {
    width: 90%;
  }

  .card-gallery ul {
    width: 100%;
  }

  .CTA-projects {
    text-align: center;
    margin-right: 16px;
  }

  .CTA-projects a {
    font-size: 17px;
  }

  /* #Sedepasser .col-3 h2 {
    font-size: 53px;
  } */

  .sedepasser {
    flex-direction: column-reverse;
  }

  .sedepasser-text {
    margin-left: 0;
  }

  .sedepasser-title {
    font-size: 21px;
    font-weight: 600;
  }

  .sedepasser-img {
    display: flex;
    justify-content: center;
  }

  .sedepasser-img img {
    width: 80%;
    height: 78%;
  }

  .sedepasser-list li {
    font-size: 17px;
  }

  .logo-hidden {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo-hidden img {
    width: 44%;
  }

  .CTA-sedepasser {
    display: flex;
    margin-bottom: 35px;
    margin-right: 16px;
    text-align: center;
  }

  .CTA-sedepasser a {
    margin: 0 auto 0 auto;
    font-size: 17px;
  }

  #testimonials .col-3 h2 {
    font-size: 35px;
    width: 100%;
  }

  .mtop-testimonials {
    padding-bottom: 60px;
    margin-top: 0;
  }

  #testimonials .cards-testimonials {
    height: 620px;
    margin-left: 70px;
    margin-right: 70px;
  }

  #testimonials .cards-testimonials blockquote {
    width: 80%;
    height: 629px;
  }

  .testimonial.classic q {
    font-size: 20px;
  }

  #gallery .cards-testimonials .col-3 h2 {
    font-size: 27px;
  }

  #CTA-testimonials {
    font-size: 17px;
  }

  #landing-footer-about .link-partenaires,
  #landing-footer-connexion .link-partenaires,
  #landing-footer-register .link-partenaires {
    flex-wrap: wrap;
    margin: 0;
  }

  /* #landing-footer .link-footer-propos {
    margin: 0 auto 0 auto;
  } */

  #content-about {
    height: 756px;
    padding: 0;
    /* margin-bottom: 30px; */
    margin-left: 16px;
    background: url("../images/banner-images/GOTHtml_APropos_PlumeCC.webp")
      no-repeat -17px bottom;
    background-size: 104%;
  }

  #content-about h1 {
    font-size: 42px;
    font-weight: 600;
  }

  #content-about .styled-list-about {
    margin-left: 0;
    width: 100%;
  }

  #content-about .styled-list-about li {
    width: 100%;
    font-size: 18px;
  }

  #content-about .link-socials {
    margin-left: 0;
    justify-content: center;
  }

  main .design-about {
    margin-top: 31px;
  }

  #landing-footer-about,
  #landing-footer-connexion,
  #landing-footer-register {
    display: flex;
    flex-direction: column;
    height: 205px;
    padding: 0 16px;
  }

  .link-footer-propos {
    margin-top: 8px;
    padding-bottom: 8px;
  }

  .link-footer-propos a {
    color: #2ab8cd;
  }


  #landing-footer-about .link-terry,
  #landing-footer-connexion .link-terry,
  #landing-footer-register .link-terry {
    padding-right: 24px;
    border-right: 2px solid #f6a316;
  }

  #landing-footer-about .link-about,
  #landing-footer-connexion .link-about,
  #landing-footer-register .link-about {
    padding-left: 24px;
  }

  #landing-footer-about .link-partenaires a img {
    height: 31px;
  }

  #landing-footer-connexion .link-partenaires a img {
    height: 31px;
  }

  #landing-footer-register .link-partenaires a img {
    height: 31px;
  }
}

@media all and (max-width: 550px) {
  #testimonials .cards-testimonials blockquote {
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  #landing-footer .link-partenaires {
    display: none;
  }

  #landing-footer .link-footer-propos,
  #landing-footer-about .link-footer-propos,
  #landing-footer-connexion .link-footer-propos,
  #landing-footer-register .link-footer-propos {
    margin-left: auto;
    margin-right: auto;
  }

  #partners {
    display: flex;
    padding: 0 16px;
    margin-bottom: 20px;
  }

  #partners .link-partenaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  #partners .link-partenaires h2 {
    font-size: 27px;
    color: #fefefe;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .link-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  #partners .link-partenaires a img {
    height: 31px;
  }
}

@media all and (min-width: 1024px) {
  .testimonial.classic {
    width: 282px;
  }
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {
  .col-1,
  .col-2,
  .col-3,
  .col-2-3 {
    width: 100%;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-2-3 {
    padding-right: 0;
    padding-left: 0;
  }

  /*-----------------Typography-----------------*/
  h1 {
    font-size: 38px;
  }
}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 767px) {
  .col-1,
  .col-2,
  .col-2-3 {
    width: 100%;
  }

  .col-3 {
    width: 50%;
  }

  /*-----------------Header Elements-----------------*/

  /*Navigation*/
  nav#nav-mobile ul {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {
  /*-----------------Header Elements-----------------*/

  /*Navigation*/
  nav#nav-mobile ul {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.styled-list-about li {
  display: flex;
  align-items: center;
  width: 50%;
}

#content-about .styled-list-about li:hover a {
  color: #2ab8cd;
}

#content-about .styled-list-about li:hover .circle-list-about-2 {
  background-color: #2ab8cd;
  border: 3px solid #2ab8cd;
}

#content-about .styled-list-about li:hover .circle-list-about-3 {
  background-color: #2ab8cd;
  border: 3px solid #2ab8cd;
}

.circle-list-about-2 {
  width: 17px;
  height: 17px;
  border: 3px solid #f6a316;
  border-radius: 100px;
  margin-right: 7px;
}

.circle-list-about-3 {
  width: 17px;
  height: 17px;
  border: 3px solid #fefefe;
  border-radius: 100px;
  margin-right: 7px;
}
